<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, placeholder: 'Enter a name for this cocktail' %>
      <%= f.input :description, as: :text, placeholder: 'Enter a description for this cocktail' %>
      <%= f.input :photo, label: 'Add a photo' %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
  <br>
<p class="warning">Once your cocktail is create you can update it and change doses by accessing them on the home page !</p>
</div>
