
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <p><%= link_to 'delete', cocktail_path(@cocktail), method: :delete  %></p>
      <div class="dose-form-box">
        <%= render 'doses/form' %>
        <div class="formul">
          <ul>
          <% @cocktail.doses.each do |dose| %>
            <% if dose.persisted? %>
            <li>
              <%= link_to 'X', dose_path(dose), method: :delete %>
            </li>
            <% end %>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="photo">
  <h2><%= @cocktail.name %></h2>
  <%= cl_image_tag @cocktail.photo, height: 180, width: 240, crop: :fill %>
</div>
  </div>
</div>






