<section class="offset-top">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="dose-form-box"  style="border: 1px red solid">
          <div class="photo">
            <h2><%= @cocktail.name %></h2>
            <%= cl_image_tag @cocktail.photo, crop: :fill %>
          </div>
          <div class="formul">
            <ul>
            <% @cocktail.doses.each do |dose| %>
              <% if dose.persisted? %>
              <li>
                <p><%= dose.ingredient.name %> : <%= dose.quantitée %>
                  <%= link_to '[ X ]', dose_path(dose), method: :delete %>
                </p>
              </li>
              <% end %>
            <% end %>
            </ul>
            <div><%= render 'doses/form' %></div>
            <%= @cocktail.description %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="crud-links">
    <%= link_to 'Delete this cocktail', cocktail_path(@cocktail), method: :delete  %>
  </div>
</section>
